.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 800px;
    margin: 0 auto;
}

.form {
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 10px;
}

.form-field {
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 10px;
}

.form-field label {
    text-align: right;
    margin-top: 6px;
}

.form-field input,
.form-field textarea {
    margin-top: 6px;
}

.form-field textarea {
    height: 80px;
    resize: none;
}

.form-field.form-field-full-width {
    justify-items: center;
}

.form-field h2 {
    grid-column: 1 / 3;
    margin: 5px;
    font-variant: small-caps;
}

.form-field button {
    grid-column: 1 / 3;
    width: 200px;
    height: 32px;
    background-color: palegreen;
    border: solid 1px forestgreen;
    border-radius: 4px;
}
